@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Roboto&display=swap');

$font-titles: "Red Hat Display", sans-serif;
$font-text: "Roboto", sans-serif;

$clr-red-200: #DEA4A4;
$clr-red-400:rgb(235, 131, 131);
$clr-blue-200: rgb(194,236,249);
$clr-blue-600: #297C96;
$clr-black-100: rgb(207,207,207);
$clr-black-400: rgb(190, 189, 189);
$clr-black-700: rgb(121, 121, 121);
$clr-yellow-200: rgba(245, 228, 67, 0.39);
$clr-green-200: hsl(120, 35%, 70%);
$clr-green-400: hsl(120, 35%, 30%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-text;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
}

a {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  &:hover {
    fill: $clr-black-700;
  }
}
.icon-left {
  left: 0.5em;
}
.icon-right {
  right: 0.5em;
}
.icon-small {
  width: 0.75rem;
  height: 0.75rem;
}
.icon-medium {
  width: 0.825rem;
  height: 0.825rem;
}

.icon-grey {
  fill: $clr-black-700;
}
.link-white {
  color: white;
}

.btn {
  font-family: $font-titles;
  padding: 0.5em 1.125em;
  border-radius: 1.5rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  &--fill-blue {
    background-color: $clr-blue-600;
    color: white;
    border: 1px solid $clr-blue-600;

  }

  &--outline-blue {
    background-color: transparent;
    color: $clr-blue-600;
    border: 1px solid $clr-blue-600;
  }

  &--outline-red {
    background-color: transparent;
    color: $clr-red-200;
    border: 1px solid $clr-red-200;
  }
}

.hidden {
  display: none;
}